html.dark {
    /* 编辑器背景 */
    --td-editor-text: #fff;
    --td-editor-bg: #000000;

    /* 模块的边线颜色 */
    --td-editor-border: #000000;

    /* 主要文字颜色 */
    --td-editor-color: #a4b6c0;

    /* 左侧一级导航 */
    --td-editor-left-nav-one: rgba(33, 51, 124, 0.5);

    /* 导航激活状态 */
    --td-editor-left-nav-bg: #0067DD ;
    --td-editor-left-nav-text: #fff;

    /* 导航激活状态 */
    --td-editor-disabled-bg: #262727;
    --td-editor-disabled-text: #5f5f61;
    /* 项目 */
    --td-editor-project-item-bg: #18181c;
    --td-editor-project-bg: #101014;
    --td-editor-project-item-footer: #262629;
    --td-editor-project-item-release: #2df34f;
    --td-editor-project-item-unrelease: #eaf029;
    /* 编辑器 每个图例 */
    --td-editor-echarts-titlebg: #2A2A2B;
    --td-editor-echarts-bg: rgba(33, 51, 124, 0.5);

    --el-collapse-header-bg-color:#0067DD;
}
